gunicorn==20.1.0
pyrofork
aiohttp
motor
tgcrypto
aiofiles
requests==2.31.0
hachoir
cloudscraper
pycryptodome
pytz
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
python-dotenv==1.0.0
urllib3==2.1.0
bs4
flask
pyromod
setuptools
wheel
